<br>
<font size="4">
Welcome,
<strong> <%= User.find_by_id(session[:u_id]).first_name %> </strong>!
</font>
<br><i> <%= User.find_by_id(session[:u_id]).role %></i>
<br><br>
<% for product in @products %>
<% if product.stock < 20 %>
Products Status <br>
The following has reached a critical stock. <br>
<table class="generic" align="center">
	<tr>
		<th> Product Name </th>
		<% if @curr_user.role == 'Administrator' %>
		<th> Branch </th>
		<% end %>
		<th> Stock </th>
	</tr>
<% break if product.stock < 20 %>
<% end %>
<% end %>
		<% for product in @products %>
			<% if product.stock < 20 %>
				<tr>
				<td> <%= Product.find_by_id(product.product_id).product_name %> </td>
				<% if @curr_user.role == 'Administrator' %>
					<td> <center> <%= Branch.find_by_id(product.branch_id).branch_name %> </td>
				<% end %>
				<td> <center> <%= product.stock %> </td>
				</tr>
			<% end %>
		<% end %>
</table>
<br><br>
<%= link_to 'Logout', :controller => 'login', :action => 'logout' %>
<br><br>