<strong> List of Transactions </strong>
<hr color="#eeddff" size="5px"><br>
<div id = "notification"><%=h flash[:notice] %></div><br>
<table border="1" rules="all" cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="70">
	<col width="100">
	<col width="50">
	<col width="70">
</colgroup>
<tr>
<td bgcolor="#eeddff"> <center> Date </td>
<td bgcolor="#eeddff"> <center> User </td>
<td bgcolor="#eeddff"> <center> Quantity </td>
<td bgcolor="#eeddff"> <center> Total </td>
</tr>
</table>
<table border="1" rules="all" cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="70">
	<col width="100">
	<col width="50">
	<col width="70">
</colgroup>
	<% for xact in @xacts %>
<tr>
	<td> <center> <%= xact.date %> </td>
	<td> <center> <%= User.find_by_id(xact.user_id).first_name %> <%= User.find_by_id(xact.user_id).last_name %> </td>
	<td> <center> <%=  %> </td>
	<td> <center> <%= xact.total %> </td>
</tr>
	<% end %>
</table>