<table width="100%">
	<tr>
	<td> <strong> Statistics </strong> </td>
	<td align="right"> <%= link_to 'Logout', :controller => 'login', :action => 'logout' %> </td>
	</tr>
</table>
<hr color="#eeddff" size="5px"><br>
Products
<table class="generic" align="center">
	<colgroup>
		<col width="200">
		<col width="50">
		<col width="50">
		<% if @curr_user.role == 'Administrator' %>
		<col width="50">
		<% end %>
		<col width="50">
	</colgroup>
	<tr>
		<th>Product Name</th>
		<th>Type</th>
		<th>Unit Price</th>
		<% if @curr_user.role == 'Administrator' %>
		<th> Branch </th>
		<% end %>
		<th>Stock Left</th>
	</tr>
	<% for product in @products %>
	<tr>
		<% if @curr_user.role!='Administrator' %>
		<td><%= Product.find_by_id(product.product_id).product_name %> <%= link_to 'Sales', {:controller => 'statistics', :action => 'productSales', :id => product.product_id} %></td>
		<td> <center> <%= Product.find_by_id(product.product_id).ptype %></td>
		<td> <center> <%= Product.find_by_id(product.product_id).unit_price%></td>
		<% else %>
		<td><%= product.product_name %> <%= link_to 'Sales', {:controller => 'statistics', :action => 'productSales', :id => product.id} %></td>
		<td> <center> <%= product.ptype %></td>
		<td> <center> <%= product.unit_price %></td>
		<td><center>
		<% for pbranch in @pbranch %>
		<% if pbranch.product_id == product.id %>
			<%= Branch.find_by_id(pbranch.branch_id).branch_name %> <br>
		<%end%> <%end%>
		</td>
		<% end %>
		<td><center>
		<% if @curr_user.role != 'Administrator' %>
		<%= product.stock %>
		<% else %>
		<% for pbranch in @pbranch %>
		<% if pbranch.product_id == product.id%>
			<%= pbranch.stock %>
		<% end %> <% end %>
		<% end %>
		</td>
	</tr>
	<% end %>
</table><br>

Users
<table class="generic" align="center">
	<tr>
		<th>Login ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Position</th>
		<th>Branch</th>
		<th>Staff Since</th>
	</tr>
	<% for user in @users %>
		<tr>
			<td><%= user.userid%> <%= link_to 'Sales', {:controller => 'statistics', :action => 'userSales', :id => user.id} %></td>
			<td><%= user.first_name%></td>
			<td><%= user.last_name%></td>
			<td><% if user.role == "Manager" || user.role == "Administrator"%><b><%= user.role%></b><%else%><%= user.role%><%end%></td>
			<td><%= user.branch_id%></td>
			<td><%= user.created_at%></td>
		</tr>
	<%end%>
</table><br>

Branches
<table class="generic" align="center">
	<colgroup>
		<col width="75">
		<col width="50">
		<col width="150">
		<col width="75">
	</colgroup>
	<tr>
		<th>Branch Name</th>
		<th>Contact No.</th>
		<th>Address</th>
		<th>Manager</th>
	</tr>
<% for branch in @branches %>
	<tr>
		<td><%= branch.branch_name %> <%= link_to 'Sales', {:controller => 'statistics', :action => 'branchSales', :id => branch.id} %></td>
		<td></td>
		<td><%= branch.branch_address%></td>
		<td> <%= User.all(:conditions => ['branch_id=? AND role=?', branch.id, 'Manager']).first.last_name %>, <%= User.all(:conditions => ['branch_id=? AND role=?', branch.id, 'Manager']).first.first_name %> </td>
	</tr>
<% end %>
</table><br>

Transactions
<table class="generic" align="center">
	<colgroup>
		<col width="100">
		<col width="100">
		<col width="50">
		<col width="50">
		<col width="50">
	</colgroup>
	<tr>
		<th>Date</th>
		<th>Employee</th>
		<th>Quantity</th>
		<th>Total</th>
		<th> </th>
	</tr>
	<% for xact in @xacts %>
	<tr>
		<td> <%= xact.created_at %> </td>
		<td> <center> <% if User.find_by_id(xact.user_id) != nil %>
		<%= User.find_by_id(xact.user_id).last_name %>, <%= User.find_by_id(xact.user_id).first_name %>
		<% else %> Employee already removed. </td> <% end %>
		<td> <center> <%= xact.qty %> </td>
		<td> <center> <%= xact.total %> </td>
		<td> <center> <%= link_to 'Details', :controller => 'xact', :action => 'xdetails', :id => xact.id %>
			 <% if User.find_by_id(session[:u_id]).role=='Administrator' %> <%= link_to 'Delete', :controller => 'xact', :action => 'destroy', :id => xact.id %> <%end%> </td>
	</tr>
	<% end %>
</table>
<br><br>