<strong> Add New Package </strong>
<hr color="#eeddff" size="5px"><br>

<div id = "notification"><%=h flash[:notice] %></div>
<% form_tag '/product/add_package' do %>
	Name of Package: <%= text_field 'product', 'product_name', "size"=>"50" %> <br/><br/>
	Package Price: <%= text_field 'product', 'unit_price', "size"=>"20" %><br/><br/>

	<% for product in @productsF%>
		<%if product%>
			<%=check_box_tag('products[]', product.id, false)%>
			<%=product.product_name%><br/>
		<%end%>
	<%end%>
	<%= submit_tag 'Submit'%>
<%end%>
	<%= button_to 'Cancel', :controller => 'product' %>