<strong> Add New Product </strong>
<hr color="#eeddff" size="5px"><br>
<br>
<% form_tag '/product/create' do %>
	Name of Product: <%= text_field 'product', 'product_name', "size"=>"50" %> <br><br>
	Select Product Category:
	<%= select('product', 'ptype', [[1],[2],[3]]) %>
	<br><br>
	Unit Price: <%= text_field 'product', 'unit_price', "size"=>"20" %><br><br>
	Stock: <%= text_field 'stockno', 'stock', "size"=>"10" %><br><br>
        <table>
        <th><%= submit_tag 'Submit' %> </th> 
		<% end %>
        <th><%= button_to 'Cancel', :action => 'index' %></th>
        </table>