<table border="0" align="center" cellspacing="2">
	<tr>
		<td><b>Staff Options: </b></td>
		<td><%= link_to 'View', {:controller => 'users', :action => 'view'} %></td><td>|</td>
		<td><%= link_to 'Edit', {:controller => 'users', :action => 'edit_choose'} %></td><td>|</td>
		<td><%= link_to 'Add', {:controller => 'users', :action => 'add'} %></td><td>|</td>
		<td><%= link_to 'Delete', {:controller => 'users', :action => 'delete_choose'} %></td>
	</tr>
</table>
<hr><br>

<table class="generic" align="center">
	<tr>
		<th>Login ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Position</th>
		<th>Branch</th>
		<th>Staff Since</th>
	</tr>
	<% for user in @users %>
		<tr>
			<td><%= user.userid%></td>
			<td><%= user.first_name%></td>
			<td><%= user.last_name%></td>
			<td><% if user.role == "Manager" || user.role == "Administrator"%><b><%= user.role%></b><%else%><%= user.role%><%end%></td>
			<td><%= user.branch_id%></td>
			<td><%= user.created_at%></td>
		</tr>
	<%end%>
</table>