<table border="0" width="800">
<tr>
	<td><center><%= link_to image_tag("but.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
	<td>
		<center><%= link_to image_tag("pro.gif", :border=>0), {:controller => 'product', :action => 'product'} %>
	</td>
	<td>
		<center><%= link_to image_tag("edi.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
	<td>
		<center><%= link_to image_tag("vie.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
	<td>
		<center><%= link_to image_tag("bran.gif", :border=>0), {:controller => 'branch', :action => 'branch'} %>
	</td>
	<td>
		<center><%= link_to image_tag("set.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
</tr>
<tr><td colspan="10"><hr color="#eeddff" size="5px"></td></tr>
</table>
<strong> List of Branches </strong>
<hr color="#eeddff" size="5px"><br>
<table cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="75">
	<col width="50">
	<col width="150">
	<col width="75">
</colgroup>
<tr>
<td bgcolor="#eeddff"> <center> Branch Name </td>
<td bgcolor="#eeddff"> <center> Contact No. </td>
<td bgcolor="#eeddff"> <center> Address </td>
<td bgcolor="#eeddff"> <center> Manager </td>
</tr>
</table>
<table border="1" rules="all" cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="75">
	<col width="50">
	<col width="150">
	<col width="75">
</colgroup>
	<% for branch in @branches %>
<tr>
	<td> <%= branch.branch_name %> </td>
	<td> <center>  </td>
	<td> <%= branch.branch_address%> <center>  </td>
	<td>  </td>
</tr>
	<% end %>
</table>
<br>