<table border="0" width="800">
<tr>
	<td><center><%= link_to image_tag("but.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
	<td>
		<center><%= link_to image_tag("pro.gif", :border=>0), {:controller => 'product', :action => 'product'} %>
	</td>
	<td>
		<center><%= link_to image_tag("edi.gif", :border=>0), {:controller => 'transaction', :action => 'transaction'} %>
	</td>
	<td>
		<center><%= link_to image_tag("vie.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
	<td>
		<center><%= link_to image_tag("bran.gif", :border=>0), {:controller => 'branch', :action => 'branch'} %>
	</td>
	<td>
		<center><%= link_to image_tag("set.gif", :border=>0), {:controller => 'manager', :action => 'index'} %>
	</td>
</tr>
<tr><td colspan="10"><hr color="#eeddff" size="5px"></td></tr>
</table>

<strong> Transaction </strong>
<hr color="#eeddff" size="5px"><br>
<br>
<% form_tag '/transaction/create' do %>
<%= submit_tag 'Begin' %>
<% end %> 
