<strong> Edit Product </strong>
<hr color="#eeddff" size="5px"><br>
<div id = "error"><%=h flash[:error] %></div>
<div id = "notification"><%=h flash[:notice] %></div><br>
<% form_tag '/product/edit' do %>
	Name of Branch: <%= text_field 'branch', 'name', "size"=>"50" %> <br><br>
        <table>
        <th><%= submit_tag 'Submit', :action => 'edit' %> </th> 
		<% end %>
        <th><%= button_to 'Cancel', :action => 'index' %></th>
        </table>