<strong> List of Products </strong>
<hr color="#eeddff" size="5px"><br>
<div id = "notification"><%=h flash[:notice] %></div><br>
<table cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="200">
	<col width="50">
	<col width="50">
	<col width="50">
</colgroup>
<tr>
<td bgcolor="#eeddff"> <center> Product Name </td>
<td bgcolor="#eeddff"> <center> Type </td>
<td bgcolor="#eeddff"> <center> Unit Price </td>
<td bgcolor="#eeddff"> <center> Stock Left </td>
</tr>
</table>
<table border="1" rules="all" cellpadding="2" width="90%" align="center">
<colgroup>
	<col width="200">
	<col width="50">
	<col width="50">
	<col width="50">
</colgroup>
	<% for product in @products %>
<tr>
	<td> <%= product.product_name %> <% if product.ptype %> <%= link_to 'Edit', :controller => 'product', :action => 'edit' %> <% end %> </td>
	<td> <center> <%= product.ptype %> </td>
	<td> <center> <%= product.unit_price%> </td>
	<td> <center>  </td>
</tr>
	<% end %>
</table>
<br>
<%= link_to 'Add Product', :controller => 'product', :action => 'create' %>
<%= link_to 'Delete Product', :controller => 'product', :action => 'delete' %>
<br>
<%= link_to 'Add Package', :controller => 'product', :action => 'package_start' %>
<br><br>